---
import Layout from '../layouts/Layout.astro';
import PantallaAcceso from '../components/organisms/PantallaAcceso.astro';
import EscenarioTiempoReal from '../components/organisms/EscenarioTiempoReal.astro';
---

<Layout title="Constellation Cursors">
  <main>
    <PantallaAcceso />
    <EscenarioTiempoReal />
  </main>
</Layout>
